*{
	box-sizing: border-box;
}
body{
	font-family:monospace;
}
h1{
	1.75em;
	text-align:center;
}
.container{
	position:relative;
	background-color: #999999;
	border:1px solid black;
	float:left;
}

span{
	position:absolute;
	top:0;
	right:0;
	border-width: 0 0 1px 1px ;
	border-style:solid;
	border-color:black;
	padding:5px 30px;
	font-weight:bold;
	font-size:1.25em;
}
p{
	padding:30px 10px 10px;
}
#dish1{
	background-color: #d49898;
}
#dish2{
	background-color: #bf4343;
	color:white;
}
#dish3{
	background-color: #e3cf98;
}

div{
	width:90%;
	margin:10px 5%;
}

@media (min-width:668px) and (max-width:991px){
		div{
		width:49%;
		margin-left:0.75%;
		margin-right:0.75%;
	}
		div:last-of-type{
			width:99.5%;
			margin-top:10px;
		}

	}

@media (min-width:992px){
	div{
		width:32.3%;
		margin-left:0.5%;
		margin-right:0.5%;
	}
}	
