*{
	box-sizing: border-box;
}
body{
	position:relative;
}
.navbar-default{
	background-color:#cc6699;
}
.navbar-default .navbar-brand{
	color:black;
	font-size:1.8em;
}
#nav-list a {
  text-align: center;
  background-color:#ffe6b3;
  color:black;
  border-bottom:1px solid  #cc6699;
}
.culoare{
	height:700px;
	background-color:#cc6699;
	color:black;
	position:relative;
	margin-bottom: 5px;
}
h2{
	margin-bottom:30px;
}

p a{
	position:absolute;
	bottom:0;
	right:10px;
}